.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media screen and (max-width: 1232px) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }
}
