.PDP {
  height: 100vh;
}
.PDP-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.gallery_wrapper {
  display: flex;
}

.small_images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 260px;
}
.small_img {
  width: 79px;
  height: 80px;
}
.small_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big_image {
  width: 600px;
  height: 500px;
  margin-left: 10px;
}

.big_image img {
  width: 100%;
  height: 100%;
}

.description {
  flex: 1;
  height: auto;
}
.PDP-add-to-cart {
  border: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  width: 292px;
  height: 52px;
  background: #5ece7b;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* identical to box height, or 19px */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin: 20px 0;
}

.brand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  /* identical to box height, or 90% */
  display: flex;
  align-items: center;
  color: #1d1f22;
}
.product-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  /* identical to box height, or 90% */
  display: flex;
  align-items: center;
  color: #1d1f22;
  margin-top: 15px;
}

.PDP-price {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;

  color: #1d1f22;
}
.product-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  /* or 26px */
  /* --c-text */
  color: #1d1f22;
}

.color-cont {
  width: 32px;
  cursor: pointer;
  height: 32px;
  margin-right: 5px;
  transition: all 0.3s;
}
.color-cont:hover {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 0 1px #5ece7b;
}

.color-active {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 0 1px #5ece7b;
}

.text-cont {
  border: 1px solid #1d1f22;
  width: 63px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #1d1f22;

  transition: all 0.3s;
}
.capacity-cont:hover,
.text-cont:hover {
  background-color: #1d1f22;
  color: #fff;
}
.text-cont-active {
  background-color: #1d1f22;
  color: #fff;
}

.attribute-wrapper {
  display: flex !important;
  flex-direction: column;
}
.attribute {
  display: flex;
}
.attribute-name {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  color: #1d1f22;
}
