.categories {
  display: flex;
  flex-direction: column;
}

.categories-title {
  /* Heading / Desktop / H2 */
  margin: 20px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  /* identical to box height, or 67px */

  display: flex;
  align-items: center;

  /* --c-text */

  color: #1d1f22;
}
