.product-wrapper {
  width: 386px;
  height: 444px;
  position: relative;
  margin-top: 10px;
}
.product-wrapper a {
  text-decoration: none;
}

.list-item {
  /* margin: 30px 10px; */
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: all 0.3s;
}
.list-item:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.list-item:hover > .addToCart-btn {
  opacity: 1 !important;
}
.list-item:hover .product-img {
  opacity: 0.5;
}

.product-img {
  width: 356px;
  height: 338px;
  position: relative;
  transition: all 0.3s;
}
.out-of-stock {
  opacity: 0.3 !important;
}

.out-of-stock-text {
  position: absolute;
  top: 50%;
  left: 30%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  /* identical to box height, or 38px */
  display: flex;
  align-items: center;
  color: #383c4f;
  display: none !important;
}
.out-of-stock-text-active {
  display: block !important;
}
.product-img img {
  width: 100%;
  height: 100%;
}
.addToCart-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: var(--main-green);
  position: absolute;
  top: 70%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
  color: #fff;
  font-size: 20px;
}
.product-wrapper:hover .addToCart-btn {
  opacity: 1 !important;
}

.list-item p {
  margin-top: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  display: flex;
  align-items: center;
  /* --c-black */
  color: #1d1f22;
  text-decoration: none;
}
.list-item span {
  margin-top: 5px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* identical to box height, or 29px */
  /* --c-black */
  color: #1d1f22;
  text-decoration: none;
}
