.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-nav {
  color: #5ece7b !important;
  border-bottom: 2px solid #5ece7b !important;
}

.categories-nav {
  display: flex;
  align-items: center;
}

.categories-nav li {
  height: 80px;
  list-style: none;
  cursor: pointer;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 19px */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  /* --c-text */

  color: #1d1f22;
}
.categories-nav li:hover {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}
.categories-nav li:nth-child(2) {
  margin: 16px;
}
.currency-and-cart {
  display: flex;
  align-items: center;
}
.currency {
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}
.cart {
  cursor: pointer;
}
