.cart-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(57, 55, 72, 0.22);
  z-index: 1000;
  display: flex;
  justify-content: right;
}
.cart-overlay-wrapper {
  width: 300px;
  background-color: #fff;
  margin-right: 50px;
  padding: 0 10px;
}
.cart-overlay-list {
  overflow-y: scroll;
  height: 400px;
  overflow-x: hidden;
}
